<link rel="stylesheet" href="styles/footer-styles.css">
<div class="footer">
    <div class="footer__tabs footer__tabs--padding">
        <div class="footer__tab footer__tab--buttons">
            <img class="footer__tab--button" src="icons/email-button.svg">
            <div class="footer__tab--button-text">sign up for email</div>
        </div>
        <div class="footer__tab footer__tab--buttons">
            <img class="footer__tab--button" src="icons/location-button.svg">
            <div class="footer__tab--button-text">find a store</div>
        </div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">Help</div>
        <div class="footer__tab">customer service</div>
        <div class="footer__tab">order status</div>
        <div class="footer__tab">styling services</div>
        <div class="footer__tab">contact us </div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">About Us</div>
        <div class="footer__tab">our story</div>
        <div class="footer__tab">events</div>
        <div class="footer__tab">careers</div>
        <div class="footer__tab">brands</div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">Et Cetera</div>
        <div class="footer__tab">anthro perks</div>
        <div class="footer__tab">gift cards</div>
        <div class="footer__tab">to the trade</div>
        <div class="footer__tab">request a catalog</div>
    </div>
    <div class="footer__tabs footer__tabs--full">
        <div class="footer__tab footer__tab--title footer__tab--connect">Connect</div>
        <div class="footer__tab footer__tab--half">
            <div class="footer__blog--button">
                <img class="footer__blog-image" src="icons/blog-content.png">
            </div>
        </div>
        <div class="footer__tab footer__tab--social footer__tab--half">
            <img class="footer__tab--social-button" src="icons/twitter.svg">
            <img class="footer__tab--social-button" src="icons/instagram.svg">
            <img class="footer__tab--social-button" src="icons/youtube.svg">
            <img class="footer__tab--social-button" src="icons/facebook.svg">
            <img class="footer__tab--social-button" src="icons/pinterest.svg">
            <img class="footer__tab--social-button" src="icons/google.svg">

        </div>
    </div>
    <div class="footer__banner">
        <img class="footer__banner--image"src="icons/shopping-footer.jpg">
        <img class="footer__banner--mobile"src="icons/shopping-footer-mobile.jpg">
    </div>
</div>
<div class="footer-utility">
    <div class="footer-utility__tabs">
        <div class="footer-utility__tab footer-utility__tab--border">US</div>
        <div class="footer-utility__tab footer-utility__tab--border">France</div>
        <div class="footer-utility__tab footer-utility__tab--border">Germany</div>
        <div class="footer-utility__tab">UK</div>
    </div>
    <div class="footer-utility__tabs">
        <div class="footer-utility__tab footer-utility__tab--border">Privacy Policy</div>
        <div class="footer-utility__tab footer-utility__tab--border">Terms of Use</div>
        <div class="footer-utility__tab footer-utility__tab--border">CA Notice</div>
        <div class="footer-utility__tab footer-utility__tab--border">Recall Notice</div>
        <div class="footer-utility__tab footer-utility__tab--border">Accessibility</div>
        <div class="footer-utility__tab">URBN.com</div>
    </div>
</div>