<div class="footer">
    <div class="footer__tabs">
        <div class="footer__tab"></div>
        <div class="footer__tab"></div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">Help</div>
        <div class="footer__tab">customer service</div>
        <div class="footer__tab">order status</div>
        <div class="footer__tab">styling services</div>
        <div class="footer__tab">contact us </div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">About Us</div>
        <div class="footer__tab">our story</div>
        <div class="footer__tab">events</div>
        <div class="footer__tab">careers</div>
        <div class="footer__tab">brands</div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab footer__tab--title">Et Cetera</div>
        <div class="footer__tab">anthro perks</div>
        <div class="footer__tab">gift cards</div>
        <div class="footer__tab">to the trade</div>
        <div class="footer__tab">request a catalog</div>
    </div>
    <div class="footer__tabs">
        <div class="footer__tab">
            <div class="footer__blog--button">
                <img class="" src="icons/blog-content.png">
            </div>
        </div>
        <div class="footer__tab">
            <img class="footer__tab--social" src="icons/twitter.svg">
            <img class="footer__tab--social" src="icons/instagram.svg">
            <img class="footer__tab--social" src="icons/youtube.svg">
            <img class="footer__tab--social" src="icons/facebook.svg">
            <img class="footer__tab--social" src="icons/pinterest.svg">
            <img class="footer__tab--social" src="icons/google.svg">

        </div>
    </div>
    <div class="footer__banner">
        <img class="footer__banner--image"src="icons/shopping-footer.jpg">
    </div>
</div>